openapi: 3.0.3
info:
  title: FDIC BankFind Suite Demographics Institutions API
  description: The FDIC BankFind Suite API provides programmatic access to data about FDIC-insured banks and savings institutions, including institution profiles, branch locations, financial summaries, historical records, failures, deposits, and demographic data.
  version: '1.0'
  contact:
    name: FDIC BankFind Suite
    url: https://banks.data.fdic.gov/docs/
servers:
- url: https://banks.data.fdic.gov/api
  description: FDIC BankFind production endpoint
tags:
- name: Institutions
  description: FDIC-insured institution data
paths:
  /institutions:
    get:
      operationId: listInstitutions
      summary: Search FDIC-insured institutions
      description: Returns institution-level data for FDIC-insured banks and savings institutions.
      tags:
      - Institutions
      parameters:
      - $ref: '#/components/parameters/Filters'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/SortBy'
      - $ref: '#/components/parameters/SortOrder'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: List of institutions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstitutionsResponse'
components:
  parameters:
    Filters:
      name: filters
      in: query
      description: Elasticsearch-style filter expression. Supports AND/OR, exclusions (!), and ranges.
      schema:
        type: string
    Format:
      name: format
      in: query
      description: Response format (json or csv). Equivalent to setting Accept header.
      schema:
        type: string
        enum:
        - json
        - csv
        default: json
    SortOrder:
      name: sort_order
      in: query
      description: Sort direction (ASC or DESC).
      schema:
        type: string
        enum:
        - ASC
        - DESC
    SortBy:
      name: sort_by
      in: query
      description: Field name to sort results by.
      schema:
        type: string
    Offset:
      name: offset
      in: query
      description: Number of records to skip for pagination.
      schema:
        type: integer
        default: 0
    Limit:
      name: limit
      in: query
      description: Maximum number of records to return per request.
      schema:
        type: integer
        default: 25
        maximum: 10000
    Fields:
      name: fields
      in: query
      description: Comma-separated list of fields to return.
      schema:
        type: string
    Search:
      name: search
      in: query
      description: Free-text search across indexed fields.
      schema:
        type: string
  schemas:
    Meta:
      type: object
      properties:
        total:
          type: integer
        parameters:
          type: object
    Institution:
      type: object
      properties:
        CERT:
          type: string
          description: FDIC certificate number
        NAME:
          type: string
          description: Legal name of the institution
        STNAME:
          type: string
          description: State name
        CITY:
          type: string
        ZIP:
          type: string
        BKCLASS:
          type: string
          description: Bank class (e.g. N, NM, SM, SB, SA)
        ACTIVE:
          type: integer
        CHARTER:
          type: string
        FED_RSSD:
          type: string
        WEBADDR:
          type: string
        ASSET:
          type: number
        DEP:
          type: number
    InstitutionsResponse:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/Meta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/Institution'
        totals:
          type: object
